# Gemini API Key (Required for AI features if applicable, usually provided by the platform)
GEMINI_API_KEY=

# Stripe API Key (For processing global credit cards and PIX)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Hotmart Webhook verification token 
HOTMART_HOTTTOk=
